/* navabar */
.nav-wrapper li{
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
}
/* akhir navbar */
.listdetail h1{
	text-transform: uppercase;
	color: #757575;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 3em;
}
.listdetail .container{
	margin: 30px auto;
}
.listdetail img{
	width: 200px;
	height: 200px;
}
.listdetail .card-image{
	padding: 10px 10px 10px;
}
.listdetail .btn{
	border-radius: 50px;
}
.listdetail p{
	font-size: 22px;
}