.container{
	width: 600px;
	margin-top: 150px;
	border-radius: 50px;
}
.container h1{
	font-family: 'Tauri', sans-serif;
	text-transform: uppercase;
	font-size: 2em;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.container input{
	border-radius: 50px;
	margin-bottom: 30px;
}
.container .offset-s8{
	margin-top: -50px;
}