/* navabar */
.nav-wrapper li{
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
}
/* akhir navbar */
.listgallery h1{
	text-transform: uppercase;
	color: #757575;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 3em;
}