/* navabar */
.nav-wrapper li{
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
}
/* akhir navbar */
.detailberita h1{
	font-size: 3em;
	text-transform: uppercase;
	color: #1976d2;
}
.detailberita .container h4{
	color: #1976d2;
	margin-left: 10%;
}
.detailberita .container .tanggal{
	color: grey;
	margin-top: -10px;
	margin-left: 10%;
}
.detailberita .container{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 50px;
}
.detailberita img{
	width: 80%;
}
.detailberita p{
	width: 80%;
	margin-left: 10%;
	text-align: left;
	font-size: 20px;
}