/* navabar */
.nav-wrapper li{
	text-transform: uppercase;
	font-family: 'Rubik', sans-serif;
}
/* akhir navbar */

/*bagian parallax*/
.parallax-container{
   height: "300px";
}
/* akhir parallax */

/* gallery */
.gallery h1{
	text-transform: uppercase;
	color: #757575;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 3em;
}
.gallery .yes{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 50px;
}
/* akhir gallery */

/* berita */
.berita{
	margin-top: -20px;
	background-color: #e0e0e0;
}
.berita h1{
	text-transform: uppercase;
	color: #757575;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size: 3em;
}
.berita p{
	font-family: 'Rubik', sans-serif;
}
.berita .ok{
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 50px;
}
/* akhir berita 

/* footer */
.page-footer{
	margin-top: -20px;
}
/* akhir footer */